<!DOCTYPE html>
<html>
    <head>
        <%-include("par/key_head.ejs")%>
    </head>
    <body>
        <%-include("par/logo.ejs")%>
        <h1><%=mensagem_acao%></h1>
        <p><%=mensagem_instrucao%></p>
        <form method="GET" action="/chaves/buscar_chave/valor_chave">
            <label for="chave"></label><br>
            <input type="text" id="chave" name ="chave" placeholder="Chave" required>
            <input type="submit" value="OK">
        </form>
        <%-include("par/voltar.ejs")%>
    </body>
</html>
