<!DOCTYPE html>
<html>
    <head>
        <%-include("par/conjuntos_head.ejs")%>
    </head>
    <body>
        <%- include ("par/logo.ejs") %>
        <h1><%=mensagem_buscar%></h1>
        <form method="GET" action="/sorted_sets/valor_sorted_sets">
            <label for="rank"></label>
            <select id="rank" name="rank"><br>
                <option value="xp">XP</option>
                <option value="nivel">Level</option>
            </select>
            <input type="submit" value="OK">
            <br><br><br><br>
        </form>
        <h1><%=mensagem_incrementar%></h1><br>
        <ul id="escolhas">
            <div class ="escolha">
                <li><a href="/sorted_sets/incrementar"><img src="/adicionar.webp" alt="imagem de sinal de mais"></a></li><br>
            </div>
        </ul>
    </body>
    <%-include ("par/voltar.ejs")%>
</html>
