<!DOCTYPE html>
<html>
    <head>
        <%-include("par/key_head.ejs")%>
    </head>
    <body>
        <%-include("par/logo.ejs")%>
        <h1><%=chave%></h1>
        <h1><%=valor%></h1>
    </body>
    <%-include("par/voltar_inicio.ejs")%>
</html>
